* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: #444;
}

h1, h2, h3 {
    color: #1098ad;
}

h1, h4 {
    text-transform: uppercase;
}

h4, li, p {
    font-size: 20px;
}

h1 {
    font-size: 26px;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

h4 {
    text-align: center;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

.main-header {
    background-color: #f7f7f7;
    border-top: #1098ad 10px solid;
    padding: 20px 40px;
    margin-bottom: 16px;
}

#copyright {
    font-size: 16px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related-posts {
    list-style: none;
}

.sidebar {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding:50px 0;
}

.related-post {
    border-bottom: 5px solid #1098ad;
    width: 100%;
    margin-bottom: 8px;
}

.reasons li:first-child {
    font-weight: bold;
}

.reasons li:last-child {
    font-style: italic;
}

.post-header {
    margin-bottom: 40px;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #777;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}